

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  display:none

}

[class*="col-"] {
  float: left;
  padding: 1px;

}

.col-1 {width: 8.33%;  display:none
}
.col-2 {width: 16.66%;  display:none
}
.col-3 {width: 25%;  display:none
}
.col-4 {width: 33.33%;  display:none
}
.col-5 {width: 41.66%;  display:none
}
.col-6 {width: 50%;  display:none
}
.col-7 {width: 58.33%;  display:none
}
.col-8 {width: 66.66%;  display:none
}
.col-9 {width: 75%;  display:none
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;  display:none
}
.col-12 {width: 100%;  display:none
}


ul.main_menu{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  display:none
}

li.main_menu {
  float: left;
  display:none

}

li.main_menu a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display:none

}

li.main_menu a:hover, .dropdown:hover .dropbtn {
  background-color: red;  display:none

}

li.dropdown {
  display: inline-block;  display:none

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display:none

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  display:none

}

.dropdown-content a:hover {background-color: #f1f1f1;  display:none
}

.dropdown:hover .dropdown-content {
  display: block;  display:none

}

header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  color: black;
  display:none
}


.main-title a{
  color:#222222;
  margin:0;
  font-size:35px;
  line-height:1.2em;
  word-wrap:break-word;
  font-weight:700;
  text-decoration: none;
  display:none
}

.container {
  width: 540px;
  height: 740px;
  max-width: 80%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-size:20px;
  position: relative;
  display:none
}

.container2 {

}

.card1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 322px;
  border: 0px red solid;
}

.triangleimage {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px black solid;
}


.hideforprint {
  display:none
}

.triangle1 {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0px red solid;

}

.triangle2 {
  position: absolute;
  top: 72px;
  left: 50px;
  border: 1px black solid;
}

.triangle3 {
  position: absolute;
  top: 72px;
  left: 282px;
  border: 1px black solid;
}

.triangle4 {
  position: absolute;
  top: 72px;
  left: 514px;
  border: 1px black solid;
}

.triangle5 {
  position: absolute;
  top: 72px;
  left: 746px;
  border: 1px black solid;
}

.back1 {
  position: absolute;
  top: 342px;
  left: 0px;
  border: 1px black solid;
}

.back2 {
  position: absolute;
  top: 342px;
  left: 240px;
  border: 1px black solid;
}

.back3 {
  position: absolute;
  top: 342px;
  left: 480px;
  border: 1px black solid;
}

.back4 {
  position: absolute;
  top: 342px;
  left: 720px;
  border: 1px black solid;
}

.textbox {
  position: absolute;
  top: 45px;
  left: 120px;
  border: 0px red solid;
  display:none

}

.textbox2 {
  position: absolute;
  top: 253px;
  left: 51px;
  border: 0px red solid;
  display:none

}

.textbox3 {
  position: absolute;
  top: 332px;
  left: 38px;
  border: 0px red solid;
  display:none

}

.textbox4 {
  position: absolute;
  top: 452px;
  left: 85px;
  Right: 87px;
  border: 0px red solid;
  display:none

}

.card2 {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 230px;
  height: 322px;
  border: 0px red solid;
}

.card3 {
  position: absolute;
  top: 0px;
  left: 480px;
  width: 230px;
  height: 322px;
  border: 0px red solid;
}

.card4 {
  position: absolute;
  top: 0px;
  left: 720px;
  width: 230px;
  height: 322px;
  border: 0px red solid;
}

.triangleimage {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px black solid;
}

.textpage {
  position: absolute;
  top: 20px;
  left: 55px;
  border: 0px red solid;
}

.textpage2 {
  position: absolute;
  top: 117px;
  left: 23px;
  border: 0px red solid;
}

.textbinder1 {
  position: absolute;
  top: 155px;
  left: 17px;
  border: 0px red solid;
}

.textbinder2 {
  position: absolute;
  top: 210px;
  left: 39px;
  right: 28px;
  border: 0px red solid;
}

.textbinder3 {
  position: absolute;
  top: 217px;
  left: 291px;
  border: 0px red solid;
}

.textbinder4 {
  position: absolute;
  top: 272px;
  left: 312px;
  Right: 500px;
  border: 0px red solid;
}

.textbinder5 {
  position: absolute;
  top: 217px;
  left: 523px;
  border: 0px red solid;
}

.textbinder6 {
  position: absolute;
  top: 272px;
  left: 544px;
  Right: 268px;
  border: 0px red solid;
}

.textbinder7 {
  position: absolute;
  top: 217px;
  left: 755px;
  border: 0px red solid;
}

.textbinder8 {
  position: absolute;
  top: 272px;
  left: 776px;
  Right: 36px;
  border: 0px red solid;
}

.textpage3 {
  position: absolute;
  top: 80px;
  left: 330px;
  border: 0px red solid;
}

.textpage4 {
  position: absolute;
  top: 179px;
  left: 296px;
  border: 0px red solid;
}

.textpage5 {
  position: absolute;
  top: 80px;
  left: 562px;
  border: 0px red solid;
}

.textpage6 {
  position: absolute;
  top: 179px;
  left: 528px;
  border: 0px red solid;
}

.textpage7 {
  position: absolute;
  top: 80px;
  left: 794px;
  border: 0px red solid;
}

.textpage8 {
  position: absolute;
  top: 179px;
  left: 760px;
  border: 0px red solid;
}



.specialhr {
  margin-top: 312px;

}

.bigbutton {
  background-color: red; 
  color: black; 
  border: 2px solid #000000;
  font-size: 16px;
  display:none


}


.greenbutton {
  background-color: green; 
  color: black; 
  border: 2px solid #000000;
  font-size: 16px;
  display:none


}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 5px #000,
    1px -1px 5px #000,
    -1px 1px 5px #000,
    1px 1px 5px #000;  
    -webkit-print-color-adjust:exact;
    -webkit-filter:opacity(1);
}

.strokeme2
{
    color: white;
    text-shadow:
    -.3px -.3px 2px #000,
    .3px -.3px 2px #000,
    -.3px .3px 2px #000,
    .3px .3px 2px #000;  
    -webkit-print-color-adjust:exact;
    -webkit-filter:opacity(1);
}

   .colortext {
     color: orange; 
   }

   .colortext2 {
     color: lightgreen; 
   }

   .colortext3 {
     color: dodgerblue; 
   }


